:root {
    --nord-1: #242933;
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --transition-time: 0.5s;
}

html[data-theme="dark"] {
    --background: var(--nord-1);
    --hover: var(--nord1);
    --page: var(--nord0);
    --section: var(--nord2);
    --text: var(--nord4);
    --accent: var(--nord8);
}

html[data-theme="light"], html {
    --background: var(--nord6);
    --hover: var(--nord4);
    --page: var(--nord5);
    --section: var(--nord6);
    --text: var(--nord0);
    --accent: var(--nord9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.mono {
    font-family: monospace !important;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color var(--transition-time) ease-in-out, color var(--transition-time) ease-in-out;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15%;
    background-color: var(--background);
    color: var(--text);
    transition: background-color var(--transition-time) ease-in-out, color var(--transition-time) ease-in-out;
}

.logo {
    background-image: linear-gradient(to right top, var(--nord12), var(--nord15));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: transparent;
    position: relative;
}

header > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text);
    transition: all var(--transition-time) ease-in-out;
    font-family: monospace;
    padding: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
}

header > button:hover {
    background-color: var(--hover);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100% - 4.3rem);
    text-align: center;
}

.page-text {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.sub-title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.main {
    text-align: left;
    margin-top: 2rem;
    width: 60dvw;
    background-color: var(--page);
    transition: background-color var(--transition-time) ease-in-out;
    padding: 1.5rem 2rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.main>h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.main>p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}


h4.footer {
    margin: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

h4.footer > svg {
    margin: 0 0.15rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.form-wrapper > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 35vh;
}

.form > label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-right: auto;
}

.form > input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--section);
    outline: none;
    border: var(--nord10) 1px solid;
    color: var(--text);
    border-radius: 0.25rem;
    transition: all var(--transition-time) ease-in-out;
}

.form > hr {
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    height: 2px;
    background-color: var(--nord10);
    opacity: 0.25;
    transition: all var(--transition-time) ease-in-out;
}

.form > button {
    padding: 0.5rem 1.5rem;
    width: 100%;
    background: var(--nord10);
    color: var(--nord6);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    transition: all calc(var(--transition-time) / 4) ease-in-out;
}

.form > button:hover {
    background: var(--nord9);
}

.form > button:active {
    background: var(--nord8);
    scale: 0.95;
}

.prompt {
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-bottom: 1rem;
} 

.invalid {
    color: var(--nord11);
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.user-card-wrapper {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}

.user-card .image-wrapper {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.user-card .image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    margin-bottom: 0.5rem;
}

a {
    color: var(--nord10);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}